 
 body{
     color:#40514E;
     margin: 0;
     text-align: center;
     font-family: 'Merriweather', serif;
 }
 h1{
     color:#66BFBF;
line-height:2;

     font-size: 5.625em;
     margin:50px auto 0 auto;
     font-family: 'Sacramento', cursive;
 }
 h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2.50rem;
    font-weight: normal;
    padding-bottom: 10px;
 }
 h3{
     color: #11999E;
    font-family: 'Montserrat', sans-serif;
 }
     
 .top-container{
    background-color: #e1f2fb;
    position:relative;
    padding-top:100px;
     
     
 }
 a{
     color:#11999E;
     font-family: 'Merriweather', serif;
     margin:10px 20px;
 }
 a:hover{
     color:red;
 }
 .middle-container{
      margin:100px 0;
      
 }
 .bottom-container{
     background-color: #66BFBF;
     padding:50px 0 20px;
     }
 hr{
     border:dotted #EAF6F6 6px;
     border-bottom: none;
     width:4%;
     margin:100px auto;
 }
 p{
     line-height: 2;
 }
 .skill-row{
     width:50%;
     margin:100px auto 100px auto;
     text-align: left;
     
 }
 .pro{
     text-decoration: underline;
 }
 .top-cloud{
     position:absolute;
     right:300px;
     top:40px;
 }
 .bottom-cloud{
     position:absolute;
     left:250px;
     bottom:300px;
 }
 .code-img{
     width:25%;
     float:left;
     margin-right: 30px;

 }
 .eat-img{
     width:25%;
     float:right;
     margin-left:30px;
 }
  .intro{
      width:30%;
      margin:auto;
  }
  .contact{
      width:40%;
      margin:40px auto 60px;
  }
   a{
       color: #11999E;
   }
   .copyright{
       color:#EAF6F6;
       font-size: 0.75rem;
       padding:20px 0;
   }